//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    br
    div.ui.segment.ping.positioning
        div.ui.container
            div.ui.ribbon.label.inverted.black.large
                h3 Welcome to Class & Faculty Scheduling System