extends ../../../templates/master.pug

block content
    div.ui.container
        br
        br
        div.ui.centerer
            div.ui.segment.ping.p-adjust
                div.ui.container
                div.ui.ribbon.label.inverted.blue
                    label.ui Faculty Schedules
                div.select.ui.simple.dropdown.item Faculties
                        i.dropdown.icon
                        div.ui.menu
                            div.header Faculty List
                                a.ui.item(href="#")
                a.button.green.right.floated.ui.basic.button(href='#')
                    i.add.icon
                    label Add Schedule
                table.ui.compact.celled.table
                    th
                        tr
                            th.tp.t-align Subject Code
                            th.tp.t-align Subject Description
                            th.tp.t-align Class
                            th.tp.t-align Room
                            th.tp.t-align Schedule
                            th.tp.t-align Actions
                    th
                        tr
                            td
                            td
                            td
                            td
                            td
                            td
                                a(href="#")
                                    i.green.edit.icon.large
                                a(href="#")
                                    i.green.remove.icon.large
                                