extends ../../../templates/master.pug

block content
    br
    br
    div.ui.container
        div.ui.centerer
            div.ui.segment.ping.p-adjust
                div.ui.container
                div.ui.ribbon.label.huge.blue
                    p Maintenance
                hr
                div.ui.buttons.vertical.fluid
                    a.button.fluid.ui.button(href="/maintenance/Accounts") Accounts                        
                    a.button.fluid.ui.button(href="/maintenance/Emp") Employee Type
                    a.button.fluid.ui.button(href="/maintenance/Class") Class
                    a.button.fluid.ui.button(href="/maintenance/Rooms") Rooms
                    a.button.fluid.ui.button(href="/maintenance/Subjects") Subjects