extends ./base

block body    
    div.ui.top.fixed.pointing.menu
        div.right.menu
            a.ui.item(href="/") Home
            div.ui.simple.dropdown.item Schedule
                i.dropdown.icon
                div.menu
                    div.header Type
                    a.item(href="/schedule/class") Class Schedule
                    a.item(href="/schedule/faculty") Faculty Schedule
            div.ui.simple.dropdown.item Reports
                i.dropdown.icon
                div.menu
                    div.header Type
                    a.item(href="/reports/Schedule") Schedule
                    a.item(href="/reports/DTR") DTR 
            a.ui.item(href="/maintenance") Maintenance   
                

        div.right.menu
            a.menu.item(href="/logout")
                i.sign.out.icon
                p Log-out
    block content

        div.ui.container

        
        